.container{
    width: 45rem;
    display: block;
    margin: auto;
    margin-top: 3rem;
    h1{
        font-weight: 500;
        font-size: 36px;
    }
    .card{
        border-radius: 8px;
        background-color: #FFFF;
    }

}