.container {
  width: 100%;
  max-width: 600px;
  margin: 2rem auto;
  .view_title {
    margin: 2rem 0;
    font-weight: 500;
    font-size: 36px;
  }
  .view_img {
    border-radius: 10px;
  }
  .card {
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    background-color: #ffff;
    .card_title {
      font-size: 20px;
      font-weight: 500;
    }
    .card_icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1rem 0;
      @media (max-width: 400px) {
        flex-direction: column;
        margin: 0;
      }
      .card_details {
        width: 45%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 400px) {
          width: 100%;
          margin: 1rem 0;
        }
        &_icons {
          margin-right: 0.5rem;
        }
      }
    }
  }
  .description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
    .description_title {
      font-size: 20px;
      font-weight: 500;
      .description_icons {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  .card_p {
    font-size: 18px;
    text-align: justify;
    margin-bottom: 2rem;
  }
}
