.input {
  display: block;
  margin-bottom: 2rem;
  &__label {
    display: block;
    margin-bottom: .8rem;
    font-weight: 500;
    font-size: 1.2rem;
  }
  &__inpt {
    padding: .7rem;
    border: 2px solid #DEE1E1;
    border-radius: 10px;
    width: 100%;
    transition: border-color .2s ease;
    &.error {
      border-color: red;
    }
    &:focus {
      border-color: #3A494C;
    }
    &.disabled {
      cursor: not-allowed;
      background-color: #DEE1E1;
    }
  }
  &__box {
    position: relative;
    cursor: pointer;
  }
  &__icon {
    position: absolute;
    right: 15px;
    width: 18px;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
  }
}